{% extends 'my_wallet/base.html' %}
{% load wallet_tags %}

{% block content %}
    {% get_wallets as my_wallets %}
    <p>Create wallet</p>
    <form method="post">
        {% csrf_token %}
        <p><label for="{{ form.name.id_for_label }}">{{ form.name.label }}: </label>{{ form.name }}</p>
        <button type="submit" formaction="{% url 'add_wallet' %}" class="btn btn-secondary" name="add">Add</button>
        <p class="select-form"><label for="{{ form.wallets.id_for_label }}">{{ form.wallets.label }}: </label>{{ form.wallets }}</p>
        <button type="submit" formaction="{% url 'delete_wallet' %}" class="btn btn-primary mb-3">Delete</button>
    </form>
{% endblock %}
