<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: auto; margin-right: auto;">
      My wallet
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" style="padding: 10px 0px;">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Главная</a>
          </li>
          <li class="nav-item" style="padding: 10px 0px;">
            <a class="nav-link" href="{% url 'wallets' %}">Мои кошельки</a>
          </li>
          <li class="nav-item" style="padding: 10px 0px;">
            <a class="nav-link" href="#">Статистика</a>
          </li>
          <li class="nav-item dropdown" style="padding: 10px 0px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Пользователь
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li style="padding: 10px 0px;"><a class="dropdown-item" href="#">Регистрация</a></li>
              <li style="padding: 10px 0px;"><a class="dropdown-item" href="#">Авторизация</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
