{% extends 'my_wallet/base.html' %}

{% block content %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-2">
            <a href="{% url 'wallets' %}" style="width: 100%;" class="btn btn-secondary">Назад</a>
        </div>
    </div>
    <h2 style="margin-top: 30px;">Добавить платеж</h2>
    {% if messages %}
        {% for message in messages %}
        <div class="alert" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <label class="form-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}:  </label>
                <p>{{ form.description }}</p>
                <label class="form-label" for="{{ form.amount.id_for_label }}">{{ form.amount.label }}:  </label>
                <p>{{ form.amount }}</p>    
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <button type="submit" formaction="{% url 'add_transaction' wallet_name %}" class="btn btn-secondary">Добавить</button>
            </div>
        </div>
    </form>
    <div class="row" style="margin-top: 30px;">
        <div class="col-5">Transaction</div>
        <div class="col-2">Date</div>
        <div class="col-2">Wallet</div>
        <div class="col-1">Price</div>
    </div>
    {% for transaction in transactions %}
        <div class="row">
            <div class="col-5 border trans-cell">{{ transaction.description }}</div>
            <div class="col-2 border trans-cell">{{ transaction.time_create}}</div>
            <div class="col-2 border trans-cell">{{ transaction.wallet }}</div>
            <div class="col-1 border trans-cell">{{ transaction.amount }}</div>
            {% if transaction.wallet %}
                <div class="col-1 border trans-cell-button" style="width: auto">
                    <a href="{% url 'delete_transaction' transaction_id=transaction.id %}" style="margin-bottom: 30px;" class="btn btn-secondary">Удалить</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
